.gallery{
    background: #363C43;
    display: flex;
    height: 37vh;
    border-radius: 15px;
    padding: 5px;
    gap: 4px;
    padding: 10px;
}
button{
    cursor: pointer;
}
.gallery-right{
    width: 100%;
    padding: 10px;
}
.buttons-gal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.buttons-gal button{
    background-color: black;
    color: white;
    padding: 8px 22px;
    font-size: 18px;
    border-radius: 10px;
}
.buttons-gal-right{
    display: flex;
    gap: 10px;
    align-items: center;
}
.upload-label{
    background-color: black;
    color: white;
    padding: 8px 22px;
    border-radius: 10px;
}
.buttons-gal-right i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#191B1F;
    color: #373E44;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(55, 62, 68, 0.5);
}
.images{
    display: flex;
    gap: 15px;
}