.layout{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.left-pane{
    height: 82vh;
    width: 46vw;
    visibility: visible;
    background: #616161D1;
    border-radius: 20px;
}
.right-pane{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width:786px){
    .left-pane {
        width: calc(100% ); 
        height: 400px;
        /* Add margins for some space on the sides */
    }
    .layout {
        overflow-y: scroll; /* Enable vertical scrolling */
    }

    /* Hide scrollbar for WebKit browsers */
    .layout::-webkit-scrollbar {
        width: 0; /* Remove scrollbar space */
        background: transparent; /* Optional: make background transparent */
    }
}

