.layout{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.left-pane{
    height: 82vh;
    width: 46vw;
    visibility: visible;
    background: #616161D1;
    border-radius: 20px;
}
.right-pane{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}